@charset "UTF-8";
@font-face {
  font-family: 'GothamPro';
  src: url('../font/GothamPro.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro.woff') format('woff'), url('../font/GothamPro.ttf') format('truetype'), url('../font/GothamPro.svg#GothamPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Black';
  src: url('../font/GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Black.woff') format('woff'), url('../font/GothamPro-Black.ttf') format('truetype'), url('../font/GothamPro-Black.svg#GothamPro-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-BlackItalic';
  src: url('../font/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-BlackItalic.woff') format('woff'), url('../font/GothamPro-BlackItalic.ttf') format('truetype'), url('../font/GothamPro-BlackItalic.svg#GothamPro-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../font/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Bold.woff') format('woff'), url('../font/GothamPro-Bold.ttf') format('truetype'), url('../font/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-BoldItalic';
  src: url('../font/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-BoldItalic.woff') format('woff'), url('../font/GothamPro-BoldItalic.ttf') format('truetype'), url('../font/GothamPro-BoldItalic.svg#GothamPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Italic';
  src: url('../font/GothamPro-Italic.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Italic.woff') format('woff'), url('../font/GothamPro-Italic.ttf') format('truetype'), url('../font/GothamPro-Italic.svg#GothamPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Light';
  src: url('../font/GothamPro-Light.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Light.woff') format('woff'), url('../font/GothamPro-Light.ttf') format('truetype'), url('../font/GothamPro-Light.svg#GothamPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url('../font/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-LightItalic.woff') format('woff'), url('../font/GothamPro-LightItalic.ttf') format('truetype'), url('../font/GothamPro-LightItalic.svg#GothamPro-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../font/GothamPro-Medium.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-Medium.woff') format('woff'), url('../font/GothamPro-Medium.ttf') format('truetype'), url('../font/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-MediumItalic';
  src: url('../font/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../font/GothamPro-MediumItalic.woff') format('woff'), url('../font/GothamPro-MediumItalic.ttf') format('truetype'), url('../font/GothamPro-MediumItalic.svg#GothamPro-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamProNarrow-Bold';
  src: url('../font/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'), url('../font/GothamProNarrow-Bold.woff') format('woff'), url('../font/GothamProNarrow-Bold.ttf') format('truetype'), url('../font/GothamProNarrow-Bold.svg#GothamProNarrow-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamProNarrow-Medium';
  src: url('../font/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'), url('../font/GothamProNarrow-Medium.woff') format('woff'), url('../font/GothamProNarrow-Medium.ttf') format('truetype'), url('../font/GothamProNarrow-Medium.svg#GothamProNarrow-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaLTStd-Bold';
  src: url('../font/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('../font/HelveticaLTStd-Bold.woff') format('woff'), url('../font/HelveticaLTStd-Bold.ttf') format('truetype'), url('../font/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../font/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Ubuntu-Bold.woff') format('woff'), url('../font/Ubuntu-Bold.ttf') format('truetype'), url('../font/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../font/Ubuntu.eot?#iefix') format('embedded-opentype'), url('../font/Ubuntu.woff') format('woff'), url('../font/Ubuntu.ttf') format('truetype'), url('../font/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* reset
------------------------------------------------------------------- */
body {
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:hover {
  text-decoration: none;
}
a[href^="tel"] {
  cursor: default;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}
svg:not(:root) {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
[class*="icon--"] {
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
}
p {
  margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
}
iframe {
  border: 0;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
textarea {
  overflow: auto;
  resize: vertical;
}
textarea,
[type="url"],
[type="text"],
[type="email"],
[type="search"],
[type="password"] {
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
}
[type="radio"],
[type="submit"],
[type="checkbox"],
button:not(:disabled) {
  cursor: pointer;
}
button,
[type="submit"] {
  border: 0;
  color: inherit;
  background: none;
  font-size: inherit;
}
[disabled] {
  opacity: .3;
  cursor: default;
}
::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
/* @media print
------------------------------------------------------------------- */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
.j-pt--0 {
  padding-top: 0;
}
/* j-body
------------------------------------------------------------------- */
* {
  font-family: 'GothamPro', sans-serif;
}
.j-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #111111;
  font-size: 14px;
  line-height: 1.2;
  background: #061326;
  min-height: 100vh;
  overflow-x: hidden;
}
.j-body__index {
  font-size: 20px;
}
@media (max-width: 1520px) {
  .j-body__index {
    font-size: 18px;
  }
}
@media (min-height: 801px) {
  .j-body__index {
    font-size: 14px;
  }
}
@media (max-height: 800px) {
  .j-body__index {
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .j-body__index {
    background: #f2f7fd;
  }
}
@media (min-width: 768px) {
  .j-body__fixed {
    background: url(../img/p-7.png) bottom center / contain repeat-x, url(../img/6.png) top left / cover no-repeat;
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  .j-body__fixed {
    background: url(../img/6.png) 30% 100% repeat-y;
  }
}
.j-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1520px;
}
.j-container__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5%;
  padding-bottom: 10%;
}
@media (max-width: 1024px) {
  .j-container__column {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .j-container__column {
    padding-bottom: 20%;
  }
}
.j-container--height-auto {
  height: auto;
}
.j-h1 {
  width: 100%;
  font-size: 42px;
  line-height: 1.5;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: 'GothamPro-Bold';
}
@media (max-width: 1280px) {
  .j-h1 {
    font-size: 38px;
  }
}
@media (max-width: 990px) {
  .j-h1 {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .j-h1 {
    margin-top: 0;
    font-size: 22px;
  }
}
textarea,
[type="url"],
[type="text"],
[type="email"],
[type="search"],
[type="password"] {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  width: 250px;
  height: 50px;
  margin: 0 0 25px 0;
  padding: 0 15px;
  background: rgba(0, 6, 15, 0.4);
  border: 0;
  border-radius: 5px;
  font-family: 'Ubuntu';
}
@media (max-width: 767px) {
  textarea,
  [type="url"],
  [type="text"],
  [type="email"],
  [type="search"],
  [type="password"] {
    height: 40px;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
textarea:focus,
[type="url"]:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="search"]:focus,
[type="password"]:focus {
  background: rgba(0, 0, 0, 0.4);
}
textarea {
  padding: 15px;
  min-height: 200px;
}
:-moz-placeholder {
  color: #13a5f0;
}
::-moz-placeholder {
  color: #13a5f0;
}
:-ms-input-placeholder {
  color: #13a5f0;
}
::-webkit-input-placeholder {
  color: #13a5f0;
}
/* j-header
------------------------------------------------------------------- */
.j-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 94px;
}
@media (max-width: 767px) {
  .j-header {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
  .j-header--open {
    opacity: 1;
    visibility: visible;
  }
  .j-header--open .j-header__wrap {
    right: 0;
  }
}
@media (max-width: 767px) {
  .j-header__logo {
    display: none;
  }
}
.j-header__wrap {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .j-header__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    padding: 15px 0;
    position: fixed;
    background: #061326;
    border-left: 3px solid #13a5f0;
    right: -100%;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
}
.j-header__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .j-header__left {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .j-header__left,
  .j-header__right {
    width: 100%;
  }
}
/* j-main
------------------------------------------------------------------- */
.j-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
/* j-footer
------------------------------------------------------------------- */
.j-footer {
  height: 500px;
  padding: 50px 0;
  color: #ffffff;
  background: url(../img/44.png) bottom left / cover no-repeat;
}
.j-footer__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.j-footer__copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  width: 100%;
}
.j-footer__copyright img {
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 990px) {
  .j-footer__copyright img {
    margin-bottom: 30px;
  }
}
/* j-form
------------------------------------------------------------------- */
.j-form {
  width: 100%;
  max-width: 700px;
  padding: 60px;
  margin: 0 auto;
  border-radius: 5px;
  background: rgba(4, 73, 136, 0.6);
  box-shadow: 0 0 0 1px #0a5998;
  position: relative;
}
@media (max-width: 767px) {
  .j-form {
    padding: 15px;
  }
}
.j-form textarea,
.j-form [type="text"],
.j-form [type="email"] {
  width: 100%;
}
@media (max-width: 767px) {
  .j-form textarea {
    height: auto;
    min-height: initial;
  }
}
.j-form__success {
  display: none;
  color: #ffffff;
  text-align: center;
}
.j-form__success__h1,
.j-form__success__h2 {
  font-family: 'GothamPro-Bold';
}
.j-form__success__h1 {
  font-size: 60px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  .j-form__success__h1 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  .j-form__success__h1 {
    font-size: 28px;
  }
}
.j-form__success__h2 {
  font-size: 46px;
  margin-top: 10%;
}
@media (max-width: 1280px) {
  .j-form__success__h2 {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .j-form__success__h2 {
    font-size: 24px;
  }
}
.j-form__success__more {
  font-size: 36px;
  cursor: pointer;
  margin-top: 20%;
  text-decoration: underline;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (max-width: 1280px) {
  .j-form__success__more {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .j-form__success__more {
    font-size: 20px;
  }
}
.j-form__success__more:hover {
  color: #13a5f0;
}
/* j-radio & j-checkbox
------------------------------------------------------------------- */
/* j-full
------------------------------------------------------------------- */
.j-full {
  overflow: hidden;
  position: relative;
}
@media (min-width: 1025px) {
  .j-full {
    min-height: 100vh;
  }
}
@media (min-width: 991px) {
  .j-full {
    background: url(../img/14.png) top left / cover no-repeat;
  }
}
.j-full__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 767px) {
  .j-full__wrap {
    padding-bottom: 20px;
  }
}
.j-full__h--1 {
  color: #ffffff;
  font-size: 38px;
  color: #e0e0e0;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'HelveticaLTStd-Bold';
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1520px) {
  .j-full__h--1 {
    font-size: 32px;
  }
}
@media (max-width: 990px) {
  .j-full__h--1 {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .j-full__h--1 {
    font-size: 22px;
    line-height: 1.5;
  }
}
.j-full__h--2 {
  color: #edf1f6;
  font-size: 32px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'GothamPro-Light';
}
@media (max-width: 1520px) {
  .j-full__h--2 {
    font-size: 28px;
  }
}
@media (max-width: 990px) {
  .j-full__h--2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .j-full__h--2 {
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.7;
  }
}
.j-full__button {
  text-align: center;
}
.j-full__images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  width: 100%;
  height: 350px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 990px) {
  .j-full__images {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .j-full__images {
    display: none;
  }
}
.j-full__images__1,
.j-full__images__2,
.j-full__images__3 {
  bottom: 0;
  position: absolute;
}
.j-full__images__1 {
  left: 0;
}
.j-full__images__2 {
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}
.j-full__images__3 {
  right: 0;
}
.j-full__images__1,
.j-full__images__3 {
  max-height: 250px;
}
@media (max-width: 1520px) {
  .j-full__images__1,
  .j-full__images__3 {
    max-height: 230px;
  }
}
.j-full__img {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (max-width: 1024px) {
  .j-full__img--pc {
    display: none;
  }
}
@media (min-width: 1025px) {
  .j-full__img--mob {
    display: none;
  }
}
@media (min-width: 1025px) {
  .j-full__img {
    position: absolute;
  }
}
.j-full__1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background: url(../img/6.png) top left / cover no-repeat;
}
@media (max-width: 1024px) {
  .j-full__1 {
    height: 100vh;
    margin-bottom: 0;
  }
}
@media (max-height: 400px) {
  .j-full__1 {
    height: auto;
  }
}
@media (max-width: 1024px) {
  .j-full__1 .j-full__img--pc {
    display: none;
  }
}
@media (min-width: 1025px) {
  .j-full__1 .j-full__img--mob {
    display: none;
  }
}
@media (min-width: 1025px) {
  .j-full__1 .j-full__img {
    position: relative;
  }
}
@media (min-width: 991px) {
  .j-full__2 .j-full__img {
    right: 0;
    max-width: 49%;
    max-height: -webkit-calc(100% - 50px);
    max-height: calc(100% - 50px);
  }
  .j-full__2 .j-full__img--1 {
    bottom: 200px;
  }
  .j-full__2 .j-full__img--2 {
    z-index: 5;
    right: -1px;
    bottom: 50px;
  }
  .j-full__3 .j-full__img {
    left: 0;
    z-index: 5;
    bottom: 40px;
    max-width: 49%;
    max-height: -webkit-calc(100% - 50px);
    max-height: calc(100% - 50px);
  }
  .j-full__4 .j-full__img {
    right: 0;
    bottom: 200px;
    max-width: 49%;
    max-height: 80%;
  }
  .j-full__5 .j-full__img {
    left: 0;
    bottom: 200px;
    max-width: 49%;
  }
  .j-full__6 .j-full__img {
    right: 0;
    bottom: 190px;
    max-width: 49%;
  }
}
@media (min-width: 991px) and (max-height: 800px) {
  .j-full__2 .j-full__img--1 {
    bottom: 100px;
  }
}
@media (min-width: 991px) and (max-height: 800px) {
  .j-full__2 .j-full__img--2 {
    bottom: 0;
  }
}
@media (min-width: 991px) and (max-width: 1520px) {
  .j-full__4 .j-full__img {
    bottom: 150px;
  }
}
@media (min-width: 991px) and (max-height: 800px) {
  .j-full__4 .j-full__img {
    bottom: 100px;
  }
}
@media (min-width: 991px) and (max-width: 1520px) {
  .j-full__5 .j-full__img {
    bottom: 150px;
  }
}
@media (min-width: 991px) and (max-height: 800px) {
  .j-full__5 .j-full__img {
    bottom: 100px;
  }
}
@media (min-width: 991px) and (max-height: 800px) {
  .j-full__6 .j-full__img {
    bottom: 100px;
  }
}
/* j-button
------------------------------------------------------------------- */
.j-button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  background: #13a5f0;
  border-radius: 5px;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.j-button > * {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-family: 'Ubuntu';
}
.j-button:hover {
  background: #0e96dc;
}
.j-button:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
          transform: translateY(3px);
}
.j-button--transparent {
  background: transparent;
  box-shadow: 0 0 0 1px #ffffff;
}
.j-button--transparent:hover {
  background: transparent;
  box-shadow: 0 0 0 2px #ffffff;
}
/* influence on j-button
------------------------------------------------------------------- */
.j-body__index .j-button {
  width: auto;
  height: 65px;
  margin: 40px 0;
  padding: 0 50px;
  font-size: 28px;
  border-radius: 10px;
  font-family: 'Ubuntu-Bold';
}
@media (max-width: 1520px) {
  .j-body__index .j-button {
    height: 55px;
    font-size: 22px;
  }
}
@media (max-height: 800px) {
  .j-body__index .j-button {
    height: 50px;
    margin: 25px 0;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .j-body__index .j-button {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.j-price .j-button {
  width: 135px;
  height: 35px;
  font-size: 12px;
  margin-top: 20px;
  text-transform: uppercase;
}
.j-form__button {
  text-align: right;
}
@media (max-width: 767px) {
  .j-form__button {
    text-align: center;
  }
  .j-form__button .j-button {
    width: 100%;
    height: 40px;
    font-size: 16px;
  }
}
/* j-title
------------------------------------------------------------------- */
.j-title {
  width: 100%;
  height: 250px;
  color: #ffffff;
  font-size: 42px;
  letter-spacing: 2px;
  background: url(../img/7.png) top left / cover no-repeat;
}
@media (max-height: 800px) {
  .j-title {
    height: 150px;
  }
}
@media (min-width: 1025px) {
  .j-title {
    left: 0;
    bottom: 0;
    position: absolute;
  }
}
@media (max-width: 1024px) {
  .j-title {
    font-size: 36px;
    margin-left: -25px;
    width: -webkit-calc(100% + 50px);
    width: calc(100% + 50px);
  }
}
.j-title__relative {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.j-title__relative img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.j-title__text {
  font-family: 'GothamPro-BoldItalic';
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (min-width: 1025px) {
  .j-title__text {
    opacity: 0;
    margin-bottom: -100%;
  }
}
@media (max-height: 800px) {
  .j-title__text {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .j-title__text {
    display: none;
  }
}
.j-title__text--left {
  padding-right: 450px;
}
@media (max-height: 800px) {
  .j-title__text--left {
    padding-right: 400px;
  }
}
.j-title__text--right {
  padding-left: 450px;
}
@media (max-height: 800px) {
  .j-title__text--right {
    padding-left: 400px;
  }
}
.j-title__calc {
  width: 100%;
  padding-left: 60px;
  position: relative;
}
.j-title__calc__item {
  font-family: 'GothamPro-BoldItalic';
}
.j-title__calc__item:first-child {
  margin-bottom: 10px;
}
.j-title__calc__item:first-child:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #ffffff;
}
.j-title__calc__item:last-child:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: #ffffff;
  top: 70%;
  left: 0;
  position: absolute;
}
.j-title--top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  z-index: 9;
  font-size: 24px;
  color: #ffffff;
  position: relative;
  background: #061326;
  text-transform: uppercase;
  font-family: 'GothamPro-Bold';
}
@media (max-width: 767px) {
  .j-title--top {
    font-size: 16px;
    text-align: center;
  }
}
/* influence on j-title
------------------------------------------------------------------- */
.j-full--active .j-title__text {
  opacity: 1;
  margin-bottom: 0;
}
/* j-menu
------------------------------------------------------------------- */
.j-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .j-menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.j-menu__link {
  font-size: 18px;
  margin-left: 60px;
  color: #a4abc2;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-family: 'Ubuntu-Bold';
  position: relative;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.j-menu__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (max-width: 1520px) {
  .j-menu__link {
    font-size: 16px;
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .j-menu__link {
    font-size: 14px;
    margin-left: 20px;
  }
}
@media (max-width: 767px) {
  .j-menu__link {
    width: 100%;
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 0;
    padding: 10px 25px;
  }
  .j-menu__link:after {
    display: none;
  }
}
.j-menu__link--active {
  color: #ffffff;
}
.j-menu__link--active:after {
  background: #ffffff;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.j-menu__link--blue {
  color: #13a5f0;
}
.j-menu__link:not(.j-menu__link--active):hover {
  color: #ffffff;
}
.j-menu__link:not(.j-menu__link--active):hover:after {
  background: #a4abc2;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* influence on j-menu
------------------------------------------------------------------- */
.j-footer .j-menu {
  padding-bottom: 100px;
}
.j-footer .j-menu__link {
  color: #ffffff;
  font-size: 22px;
  font-family: 'GothamPro';
  margin-left: 80px;
}
@media (max-width: 767px) {
  .j-footer .j-menu__link {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
}
.j-footer .j-menu__link:first-child {
  margin-left: 0;
}
.j-footer .j-menu__link:after {
  background: #ffffff !important;
}
/* j-egg
------------------------------------------------------------------- */
.j-egg {
  margin-top: -140px;
  text-align: center;
}
@media (min-width: 1025px) and (max-width: 1520px) {
  .j-egg img {
    max-width: 100px;
  }
}
@media (min-height: 801px) {
  .j-egg img {
    max-width: none;
  }
}
@media (max-width: 767px) {
  .j-egg {
    padding-top: 50px;
  }
}
.j-egg__wrap {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.j-egg__wrap img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (min-width: 1025px) {
  .j-egg__progress {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20%);
        -ms-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
  }
}
@media (max-width: 1024px) {
  .j-egg__static {
    display: none;
  }
}
@media (min-width: 768px) {
  .j-egg--mob {
    display: none;
  }
}
@media (max-width: 767px) {
  .j-egg--pc {
    display: none;
  }
}
/* influence on j-egg
------------------------------------------------------------------- */
.j-full__3.j-full--active .j-egg__static,
.j-full__4.j-full--active .j-egg__static,
.j-full__5.j-full--active .j-egg__static,
.j-full__6.j-full--active .j-egg__static {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.j-full__3.j-full--active .j-egg__progress,
.j-full__4.j-full--active .j-egg__progress,
.j-full__5.j-full--active .j-egg__progress,
.j-full__6.j-full--active .j-egg__progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
/* j-content
------------------------------------------------------------------- */
.j-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 1024px) {
  .j-content {
    padding-top: 50px;
  }
}
.j-content__left,
.j-content__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 49%;
  padding-top: 50px;
  padding-bottom: 250px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (max-height: 800px) {
  .j-content__left,
  .j-content__right {
    padding-top: 25px;
    padding-bottom: 180px;
  }
}
@media (max-width: 1024px) {
  .j-content__left,
  .j-content__right {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
  }
  .j-content__left img,
  .j-content__right img {
    margin: 0 auto;
  }
}
.j-content__title {
  font-size: 36px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-family: 'GothamPro-Bold';
}
@media (max-width: 1520px) {
  .j-content__title {
    font-size: 32px;
  }
}
@media (min-height: 801px) {
  .j-content__title {
    font-size: 36px;
  }
}
@media (min-width: 1025px) {
  .j-content__title {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .j-content__title {
    font-size: 28px;
  }
}
.j-content__text {
  font-size: 16px;
  margin-top: 25px;
  line-height: 1.5;
  color: #5c5c5c;
}
@media (max-height: 800px) {
  .j-content__text {
    margin-top: 15px;
    line-height: 1.3;
  }
}
@media (max-width: 1024px) {
  .j-content__text {
    margin-bottom: 30px;
  }
}
.j-content__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-top: 25px;
}
@media (max-width: 1024px) {
  .j-content__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .j-content__list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.j-content__list__ul {
  width: 49%;
}
@media (max-width: 1024px) {
  .j-content__list__ul {
    width: auto;
  }
  .j-content__list__ul + .j-content__list__ul {
    margin-left: 100px;
  }
}
@media (max-width: 1024px) and (max-width: 767px) {
  .j-content__list__ul + .j-content__list__ul {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .j-content__list__ul {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .j-content__list__ul--one {
    width: 100%;
  }
}
.j-content__list__li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  color: #13a5f0;
  font-size: 22px;
  margin-top: 10px;
  font-family: 'GothamPro-Bold';
}
@media (min-width: 768px) {
  .j-content__list__li:first-child {
    margin-top: 0;
  }
}
@media (max-height: 800px) and (max-width: 1366px) {
  .j-content__list__li {
    min-height: 40px;
    max-height: 40px;
    font-size: 18px;
  }
}
.j-content__list__img {
  display: block;
  min-width: 75px;
  margin-right: 15px;
  text-align: center;
}
@media (max-height: 800px) and (max-width: 1366px) {
  .j-content__list__img {
    min-width: 55px;
  }
}
.j-content__list__img img {
  max-height: 60px;
}
@media (max-height: 800px) and (max-width: 1366px) {
  .j-content__list__img img {
    max-width: 40px;
    max-height: 40px;
  }
}
/* animate
------------------------------------------------------------------- */
@media (min-width: 1025px) {
  .j-header,
  .j-full__images__1,
  .j-full__images__2,
  .j-full__images__3 {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .j-header {
    -webkit-animation-name: slideInDown;
            animation-name: slideInDown;
  }
  .j-full__images__1,
  .j-full__images__2,
  .j-full__images__3 {
    -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
  }
  .j-animate,
  .j-title__text {
    opacity: 0;
  }
  .j-full--active .j-animate,
  .j-full--active .j-title__text {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .j-full--active .j-animate__left {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
  }
  .j-full--active .j-animate__right {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
  }
  .j-full--active .j-title__text {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
  }
}
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* j-price
------------------------------------------------------------------- */
.j-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 990px) {
  .j-price {
    width: 465px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .j-price {
    width: 220px;
  }
}
.j-price * {
  font-family: 'Ubuntu';
}
.j-price__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  height: 380px;
  padding: 25px;
  margin-left: 25px;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  background: rgba(4, 73, 136, 0.6);
  box-shadow: 0 0 0 1px #0a5998;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
@media (min-width: 768px) and (max-width: 990px) {
  .j-price__item {
    margin-top: 25px;
  }
  .j-price__item:nth-child(1),
  .j-price__item:nth-child(2) {
    margin-top: 0;
  }
  .j-price__item:nth-child(3) {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .j-price__item {
    margin-left: 0;
    margin-top: 25px;
  }
  .j-price__item:first-child {
    margin-top: 0;
  }
}
.j-price__item:first-child {
  margin-left: 0;
}
.j-price__item:hover {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.j-price__img {
  width: 100%;
  height: 60px;
  position: relative;
}
.j-price__img img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.j-price__title {
  margin-top: 15px;
  text-transform: uppercase;
}
.j-price__up {
  color: #9fb1c4;
}
.j-price__plan {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  margin-top: 5px;
}
.j-price__plan__img,
.j-price__plan__count,
.j-price__plan__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}
.j-price__plan__img {
  margin: 0 10px;
}
.j-price__plan__count {
  font-size: 33px;
}
.j-price__plan__text {
  color: #9fb1c4;
}
.j-price__cost {
  font-size: 33px;
}
.j-price__cost sup {
  font-size: 14px;
}
/* j-mobile
------------------------------------------------------------------- */
@media (max-width: 767px) {
  .j-mobile {
    top: 25px;
    right: 25px;
    width: 45px;
    padding: 5px;
    position: absolute;
    border-radius: 3px;
    background: #13a5f0;
  }
  .j-mobile__row {
    width: 100%;
    height: 4px;
    background: #ffffff;
    margin-top: 5px;
  }
  .j-mobile__row:first-child {
    margin-top: 0;
  }
}
